<h1>첫번째 페이지</h1>
<p>
<img src="/assets/yolo.jpg" alt="dongwon" height="350" width="600" align="center">
    </img>
   </p> 
    
    
    우리가 지금 부터 할 YOLO는?<br><br>
    
    <%= image_tag @yolo_play %>
    
